body {
 background: #ffffff
}


/* introduction */
.image-me {
    max-width: 420px;
    width: 100%;
    box-shadow: 0 0 5px 5px  rgba(0, 0, 0, 0.3);
    border: 2px solid white;
}

html {
    scroll-behavior: smooth;
}

.hero-image-column {
    margin-top: 1.5rem;
}

.hr-wrap {

    display: flex;
    justify-content: center;
    
}
.hr-wrap hr {
    width: min(80%, 800px);
    border: 0;
    height: 2px;
    background: linear-gradient(
        90deg,
        transparent,
        #312020,
        transparent
    );
    opacity: 0.7;
}

.projects-intro {
    padding-top: 5rem;
    scroll-margin-top: 80px;
    margin-top: 0;
}

.section-intro {
    max-width: 600px;
    color: #312020;
    
}




.custom-btn {
    border: 1px solid #312020 ;
    color: #312020;
    border-radius: 1.5rem;
   font-size: 0.9rem;
   padding: 0.5rem;
   font-weight: 500;

}


.custom-btn:hover {
    background-color: #312020;
    color: white;
    transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out, transform 0.4s ease-in-out;
}

/* personality cards */
.trait-cards {
    background: #f6f1ea;
    color: #312020;
    min-height: 280px;
    height: 100%;
    min-width: 200px;
    
}



.card-body h5 {
    font-size: 0.9rem;
    margin-bottom: 0.9rem;
}
 /* trait cards */
.card-body .card-title span {
    display: flex;
    align-items: center;
    gap: 0.65rem;
}



.card-body h6 {
    
    margin-bottom: 0.9rem;
    color:#312020
    
}
.card-body p {
    font-size: 0.9rem;
    color:#312020
}

/* project label */
.section-label {
    border: 1px solid #312020;
    color: #312020;
    width: 6rem;
    padding: 0.1rem 0.5rem;
    border-radius: 8px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.card {
border: 1px solid #312020;
}

.card-title {
    font-size: 1.2rem;
}
.icon-about {
    margin-right: 0;
    display: inline-block;
    flex: 0 0 auto;
    
    
}
.fa-compass, .fa-cubes, .fa-lightbulb-o {
    background-color: #312020;
    color:white;
    padding: 0.2rem;
    border-radius: 0.2rem;
    font-size: x-large;
    
}

.img-fluid {
    border-radius: 8%;
    min-width: 100px;
    min-height: 100px;
    object-fit: cover;
    overflow: hidden;
}
/* projects */

.card-title {
    color:#312020;
}
.tech-tag {
    background: #F6E1C3 ;
    display: inline-block;
    padding: 5px 12px;
    border-radius: 20px;
    color: #312020;
    font-size: 0.85rem;
    font-weight: 600;
    margin-bottom: 0.4rem;
    
}

.custom-btn-git, .custom-btn-hire {
    background-color:  #312020;
    color: white;
    border-radius: 1rem;
    letter-spacing: 1px;
    font-weight: 500;
    
   
}

.custom-btn-git:hover, .custom-btn-hire:hover {
    background-color: #bd661a;
    color: white;
    transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out, transform 0.4s ease-in-out;
}
   



.custom-btn-live, .custom-btn-see-work {
   
    border-radius: 1rem;
    letter-spacing: 1px;
    background-color: #744d35;
    color: white;
    font-weight: 500;
}

.custom-btn-live:hover, .custom-btn-see-work:hover {
   background-color: #f3c383;
   color: #312020;
   transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out, transform 0.4s ease-in-out;
}

.card:hover{
    transform: scale(1.01);
    transition: 0.3s ease-in-out;
    box-shadow: 3px 4px 10px  rgba(0, 0, 0, 0.3);
}









@media (min-width: 992px) {
    .hero-image-column {
        margin-top: 5rem;  /* was 3rem */
        padding-top: 5rem; /* was 3rem */
       
    }

    .projects-intro h2 {
        color:#312020;
    }

    .section-intro {
        font-size: 1.2rem;
        color: #312020;
        font-style: italic;
        letter-spacing: 1px;
        padding-top: 8px;
    }

    .card-title {
        font-size: 1.4rem;
    }
    .card-body {
        font-size: 1.1rem;
    }
   .card-body p {
    font-size: 1rem;
   }

   .card-body h5 {
    font-size: 1.1rem;
    color:#312020;
   }

   .trait-cards h6 {
    font-size: 1.2rem;
   }

   .custom-btn {
    font-size: 1.2rem;
    padding: 0.8rem;
    
   }
}
