body {
 background: #ffffff
}


/* introduction */
.image-me {
    max-width: 420px;
    width: 100%;
}

.hero-image-column {
    margin-top: 1.5rem;
}

.section-intro {
    max-width: 500px;
    
}

/* personality cards */
.trait-cards {
    background: #f6f1ea;
    color: #312020;
    min-height: 280px;
    height: 100%;
    min-width: 200px;
    
}

.card-body h5 {
    font-size: 0.9rem;
    margin-bottom: 0.9rem;
}

.card-body .card-title span {
    display: flex;
    align-items: center;
    gap: 0.65rem;
}

.card-body h6 {
    font-size: 1.2rem;
    margin-bottom: 0.9rem;
    
    
}
.card-body p {
    font-size: 1.1rem;
}

/* project label */
.section-label {
    border: 1px solid #312020;
    color: #312020;
    width: 6rem;
    padding: 0.1rem 0.5rem;
    border-radius: 8px;
    font-weight: 500;
    letter-spacing: 1px;
}
.card {
border: 1px solid #312020;
}


.icon-about {
    margin-right: 0;
    display: inline-block;
    flex: 0 0 auto;
    
    
}
.fa-compass, .fa-cubes, .fa-lightbulb-o {
    background-color: #312020;
    color:white;
    padding: 0.2rem;
    border-radius: 0.2rem;
    font-size: x-large;
    
}




.img-fluid {
    border-radius: 8%;
    min-width: 100px;
    min-height: 100px;
    object-fit: cover;
    overflow: hidden;
}
/* projects */
.tech-tag {
    background: #F6E1C3 ;
    display: inline-block;
    padding: 5px 12px;
    border-radius: 20px;
    color: #312020;
    font-size: 0.85rem;
    font-weight: 600;
    margin-bottom: 0.4rem;
    
}











@media (min-width: 992px) {
    .hero-image-column {
        margin-top: 5rem;  /* was 3rem */
        padding-top: 5rem; /* was 3rem */
       
    }
   
}
